<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 Education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <img
            src="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-1/405375534_3549768761932319_4554911077473946603_n.jpg?stp=cp0_dst-jpg_s80x80&_nc_cat=103&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=9xgei06FV14Q7kNvgGn09oC&_nc_zt=24&_nc_ht=scontent.fdad3-1.fna&_nc_gid=AnzAW9US7BqCsvZNxJY6gJ1&oh=00_AYDyFEaZq4Csli5hwKw68WAtG-aNDXcR8f8EKYrnToW5iw&oe=671BCF63"
            alt="" class="user-avatar">
            Hoang Phuc
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>